{{- $ThemeVersion := "3.11.0" -}}
<footer class="site-footer">
    <section class="copyright">
        &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        
        {{ now.Format "2006" }} 
        
        {{ with "*" }}
            {{ . | safeHTML }} 
        {{ end }}
        
        {{ .Site.Title }}
        
       {{ with "*" }}
            {{ . | safeHTML }} 
        {{ end }}
       
        {{ with .Site.Params.footer.customText }}
            {{ . | safeHTML }} 
        {{ end }}
    </section>

</footer>
